:root {
  --rta-primary: #bbaee2;
  --rta-secondary: #59912c;
}

.rta-bg {
  background-color: var(--rta-secondary);
  color: #fff;
  border: 2px solid transparent;
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.rta-bg:hover {
  background-color: #fff;
  color: var(--rta-secondary);
  border-color: var(--rta-secondary);
}


.content-wrapper {
  min-height: 80vh !important;
  padding-top: 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rta-bg-outline {
  background-color: transparent;
  color: var(--rta-secondary);
  border: 2px solid var(--rta-secondary);
  transition: all 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

.rta-bg-outline:hover {
  background-color: var(--rta-secondary);
  color: #fff;
}


